# Mandatory
LANGUAGE="en"
PC="{PC}"
PCUSER="{PCUSER}"
PCPASSWORD="{PCPASSWORD}"
IMAGEURL="{IMAGEURL}"
PRODUSERNAME="{PRODUSERNAME}"
PRODPASSWORD="{PRODPASSWORD}"
OLDPC="{OLDPC}"
OLDPCUSERNAME="{OLDPCUSERNAME}"
OLDPCPASSWORD="{OLDPCPASSWORD}"
FRONTENDHOST="{FRONTENDHOST}"
FRONTENDPORT="{FRONTENDPORT}"
APPROVALPOLICY="{APPROVALPOLICY}"
EMAILREPORT="{EMAILREPORT}"
HOSTSSHUSERNAME="{HOSTSSHUSERNAME}"
HOSTSSHPASSWORD="{HOSTSSHPASSWORD}"
PLAYERSSHUSERNAME="{PLAYERSSHUSERNAME}"
PLAYERSSHPASSWORD="{PLAYERSSHPASSWORD}"

# Only for debug purpose
DEBUG=True/False
FIRSTSTAGE=x
USERNAME="xxx"
TRIGRAM="xxx"
USERUUID="xxx"
NETWORKUUID="xxx"
PROJECTUUID="xxx"
IMAGEUUID="xxx"
VMUUID="xxx"
HOSTUUID="xxx"